<div class="row z-depth-3 m-1">
  <div class="col s12 m12 l12 xl12 b-1-gray">
    <h2 class="center blue-text text-darken-4 t-b">Лучшие онлайн кредиты</h2>
    <div class="row">
      <for|item| of=input.list>
        <div class="col s12 m12 l4 xl4 p-2-1 ">
          <div class="z-depth-5 b-4-5c6bc0 product">
            <h2 class="center prod-name">
              <strong>${item.name}</strong>
            </h2>

          </div>

        </div>

      </for>

    </div>

  </div>

</div>

