.row-region {
  text-align: left !important;
  display: block;
  
  line-height: 180%;
}

.row-region:hover{
  color: white !important;
  background: #1e88e5   
}

.modal-list-region {
  padding-top: 0px !important;
  padding-right: 0px !important;
}

.r-modal-list-region{
  overflow-y: scroll !important;
  height: 400px
}