$ var list = [1, 2, 4]
$ var getData = require('./main.js').getData

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title/>
  </head>
  <body>
    <await(getData)>
      <@then|result|>
      <for|row| of=result>
      <p>${row.name}</p>
    </for>
      </@then>
    </await>
    

  </body>

</html>

