@import url('./public/css/grid.css');
@import url('./public/css/text.css');
@import url('./public/css/custom.css');


.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 0px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 15vw; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}