.btn-group button {
  font-size: 1.2em;
  background-color: #4CAF50; 
  border: 1px solid #008000; 
  color: black; 
  padding: 10px 0px;
  cursor: pointer; /* Указатель / значок руки */
  width: 100%; /* Установите ширину, если это необходимо */
  display: block; /* Заставить кнопки появляться друг под другом */
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}

.btn-group button:hover {
  background-color: #3e8e41;
}

.btn-group button:active {
  background-color: #7fb981;
  color: rgb(82, 82, 82);
}