/* Экстрамалые девайсы («портретные телефоны») < 576px, портрентная ориентация */
@media (max-width: 575.98px) and (orientation: portrait) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 5vw;
		font-size: 1.4em; /* размер шрифта */
		line-height: 1em; /* межстрочный отступ */
		text-align: justify !important;
	}
	/* содердимое описания */
	div.textDesc {
		font-size: 1.1em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 30vh; /* высота */
	}
}

/* Экстрамалые девайсы («портретные телефоны») < 576px), ландщафная ориентация */
@media (max-width: 575.98px) and (orientation: landscape) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 5vw;
		font-size: 1.8em; /* размер шрифта */
		line-height: 1em; /* межстрочный отступ */
		text-align: justify !important;
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 5vw;
		font-size: 1.2em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 80vh; /* высота */
	}
}

/* Малые девайсы, разрешение от 576 до 767.98 пикселей, портретаня ориентаци */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 5vw;
		font-size: 2.3em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
		text-align: justify !important;
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 5vw;
		font-size: 2em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 40vh; /* высота */
	}
}

/* Малые девайсы, разрешенеи от 576 до 767.98, ландшафтная ориентация */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 5vw;
		font-size: 2.2em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
		text-align: justify !important;
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 5vw;
		font-size: 1.7em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 80vh; /* высота */
	}
}

/* Средние девайсы, разрешение от 768 до 991.98 пикселей, портретная ориентация */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 5vw;
		text-align: justify !important;
		font-size: 2.2em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 5vw;
		font-size: 1.8em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 14vh; /* высота */
	}
}

/* Средние девайсы, разрешение от 768 до 991.98 пикселей, ландшафная ориентация */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 5vw;
		text-align: justify !important;
		font-size: 2.2em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 4vw;
		font-size: 1.8em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 32vh; /* высота */
	}
}

/* Большие девайсы (большие десктопы) от 992px жо 1199.98px, ориентация портретная */
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: portrait) {
	/* заголовок описания */
	h1.titleDesc {
		font-size: 2.1em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 5vw;
		font-size: 1.6em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 13vh; /* высота */
	}
}

/* Большие девайсы (большие десктопы) от 992px жо 1199.98px, ориентация ландшафтая */
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
	/* заголовок описания */
	h1.titleDesc {
		font-size: 2em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 5vw;
		font-size: 1.6em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 20vh; /* высота */
	}
}

/* Большие девайсы (большие десктопы, разрешение более 1200px), ориентация портретная */
@media (min-width: 1200px) and (orientation: portrait) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 2vw;
		font-size: 2.4em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 2vw;
		font-size: 1.5em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
}

/* Большие девайсы (большие десктопы, разрешение более 1200px), ориентация ландшафтная */
@media (min-width: 1200px) and (orientation: landscape) {
	/* заголовок описания */
	h1.titleDesc {
		margin: 0 2vw;
		font-size: 2.2em; /* размер шрифта */
		line-height: 1.1em; /* межстрочный отступ */
	}
	/* содердимое описания */
	div.textDesc {
		padding: 0 3vw;
		font-size: 1.6em; /* размер шрифта */
		line-height: 1.2em; /* межстрочный отступ */
	}
	/* изобрадение для описания сайтаы */
	.i-siteTitle {
		height: 22vh; /* высота */
	}
}
