/* выбранный пункт навигации */
.nav-link.active {
	/* цыет фона */
	background: #55677d !important;
	color: #e5ebf1 !important;
}
/* при наведении на элемент меню */
.nav-link:hover {
	/* цвет фона */
	background: #285473 !important;
	color: #e5ebf1;
}

/* стиль пункта меню */
.nav-link {
	/* размер шрифта */
	font-size: 1.4em;
	/* цвет шрифта */
	color: #edeef0;
}

/* выпадающее меню */
.dropdown-menu {
	/* высота элемента */
	height: 0px;
	/* внутренние отсуты */
	padding: 0px !important;
	/* внешние отступы */
	margin: 0px !important;
}

/* пункт меню */
.dropdown-item {
	/* увет шрифта */
	color: #e5ebf1 !important;
	/* цвет фона */
	background: #4a76a8 !important;
	/* размер шрифта */
	font-size: 1.4em;
}

/* при наведении на пункт меню */
.dropdown-item:hover {
	/* цвет фона */
	background: #285473 !important;
}

/* при наведении на всплывающее меню */
.dropdown:hover {
	/* фон элемента */
	background: #285473;
}

/* значек бургер-меню */
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* форма меню */
.navbar-toggler {
	/* границы */
	border: 2px solid gray;
}

/* при выборе формы меню */
.navbar-toggler:active .dropdown-menu {
	/* показать элемент */
	display: block !important;
}

/* меню для мобильных */
.navbar-collapse {
	/* отсутп с лева */
	padding-left: 1vw;
	/* показать элемент */
	display: block;
}

/* для полноформального меню(декстопы) */
@media (min-width: 991.98px) {
	/* при наведении на пункт всплывающего меню изменять меню */
	.dropdown:hover .dropdown-menu {
		/* показать элемент */
		display: block !important;
		/* внутрениие отступы */
		padding: 0px !important;
		/* внешние отступы */
		margin: 0px !important;
	}
}

/* для портативных устройств(мобильные, сматфоны и планшеты) */
@media (max-width: 991.98px) {
	/* нункт меню */
	.nav-link {
		/* ширина блока */
		width: 90vw;
	}
	/* всплывающее меню */
	.dropdown-menu {
		/* установка позиции */
		position: static !important;
		/* установка высота */
		height: 72%;
		/* устанвока ширины  */
		width: 90vw !important;
	}
	/* элемент вслывающего меню */
	.dropdown-item {
		/* выравнивание текста по центру */
		text-align: !important;
		/* установрка размера шрифта */
		font-size: 1.4em;
		/* установка фона  */
		background: #5080af !important;
		/* установка цвета шрифта */
		color: #e5ebf1 !important;
		/* установка границ */
    border: 1px solid #55677d;
    /* отступ с леовго края */
    padding-left: 10% !important;
    /* перенос слов */
		white-space: pre-line;
	}
}
