.nav-link.active {
	background: #55677d !important;
}

.nav-link {
	font-size: 1.4em;
	color: #edeef0;
}

.dropdown:hover .dropdown-menu {
	display: block !important;
	padding: 0px !important;
	margin: 0px !important;
}

.dropdown-menu {
	height: 0px;
}

.dropdown-menu {
	padding: 0px !important;
	margin: 0px !important;
}

.dropdown-item {
	color: #e5ebf1 !important;
	background: #4a76a8 !important;
	font-size: 1.4em;
}
.dropdown-item:hover {
	background: #285473 !important;
}

.dropdown:hover {
	background: #285473;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border: 2px solid gray;
}

.navbar-toggler:active .dropdown-menu {
	display: block !important;
}

.navbar-collapse {
	padding-left: 1vw;
}

/* Экстрамалые девайсы («портретные телефоны») < 576px, портрентная ориентация */
@media (max-width: 575.98px) and (orientation: portrait) {
	.nav-link {
		width: 90vw;
	}
}

/* Экстрамалые девайсы («портретные телефоны») < 576px), ландщафная ориентация */
@media (max-width: 575.98px) and (orientation: landscape) {
	.nav-link {
		width: 90vw;
	}
}

/* Малые девайсы, разрешение от 576 до 767.98 пикселей, портретаня ориентаци */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
	.nav-link {
		width: 90vw;
	}
}

/* Малые девайсы, разрешенеи от 576 до 767.98, ландшафтная ориентация */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
	.nav-link {
		width: 90vw;
	}
}

/* Средние девайсы, разрешение от 768 до 991.98 пикселей, портретная ориентация */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
	.nav-link {
		width: 90vw;
	}
}

/* Средние девайсы, разрешение от 768 до 991.98 пикселей, ландшафная ориентация */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
	.nav-link {
		width: 90vw;
	}
}
