
.btn-group{
padding-top: 2%  
}

.btn-group button {
  font-size: 1.4em;
  background-color: #e5ebf1; 
  border: 1px solid #3d6898; 
  color: #285473; 
  padding: 10px 0px;
  cursor: pointer; /* Указатель / значок руки */
  width: 100%; /* Установите ширину, если это необходимо */
  display: block; /* Заставить кнопки появляться друг под другом */
  font-family: 'roboto';
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}

.btn-group button:hover {
  background-color: #bfcedd;
}

.btn-group button:active {
  background-color: #285473;
  color: white;
}