<await(input.list)>
  <!-- навигация сайта -->
  <@then|list|>
    <div class="btn-group">
      <!-- заполнение навигации -->
      <for|item| of=list>
        <menu-button name=item.typeProduct/>

      </for>

    </div>

  </@then>

</await>

