.btn-group{
padding-top: 1%;
}

.btn-group button {
  font-size: 1.4em;
  background-color: #e5ebf1; 
  border: 1px solid #3d6898; 
  color: #285473; 
  padding: 10px 0px;
  cursor: pointer; /* Указатель / значок руки */
  width: 100%; /* Установите ширину, если это необходимо */
  display: block; /* Заставить кнопки появляться друг под другом */
  font-family: 'roboto';
}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}

.btn-group button:hover {
  background-color: #bfcedd;
}

.btn-group button:active {
  background-color: #285473;
  color: white;
}

/* Экстрамалые девайсы («портретные телефоны») < 576px, портрентная ориентация */
@media (max-width: 575.98px) and (orientation: portrait) {
}

/* Экстрамалые девайсы («портретные телефоны») < 576px), ландщафная ориентация */
@media (max-width: 575.98px) and (orientation: landscape) {

}

/* Малые девайсы, разрешение от 576 до 767.98 пикселей, портретаня ориентаци */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {

}

/* Малые девайсы, разрешенеи от 576 до 767.98, ландшафтная ориентация */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {

}

/* Средние девайсы, разрешение от 768 до 991.98 пикселей, портретная ориентация */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {

}

/* Средние девайсы, разрешение от 768 до 991.98 пикселей, ландшафная ориентация */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {

}

/* Большие девайсы (большие десктопы) от 992px жо 1199.98px, ориентация портретная */
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: portrait) {
  .btn-group{
    position: fixed;
    width: 24%;
  }

}

/* Большие девайсы (большие десктопы) от 992px жо 1199.98px, ориентация ландшафтая */
@media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .btn-group{
    position: fixed;
    width: 24%;
  }


}

/* Большие девайсы (большие десктопы, разрешение более 1200px), ориентация ландшафтная */
@media (min-width: 1200px) and (orientation: portrait) {
  .btn-group{
    position: fixed;
    width: 24%;
  }

}

/* Большие девайсы (большие десктопы, разрешение более 1200px), ориентация ландшафтная */
@media (min-width: 1200px) and (orientation: landscape) {
  .btn-group{
    position: fixed;
    width: 24%;
  }
}
