.b-geo {
  position: absolute;
  display: inline-block;
  padding-left: 35%;
}

#geo {
  text-decoration: underline;
}

#m-geo {
  overflow-y: hidden !important;
  width: 70% !important;
}

@media (min-device-width: 1600px) {
  #m-geo {
    width: 40% !important;
  }
}

#back-geo,
#close-geo {
  cursor: pointer;
  background: #1976d2;
  width: 100%;
  font-size: 2.8em;
}

#back-geo:hover,
#close-geo:hover {
  background: #1565c0;
}

@media (max-device-width: 992px) {
  #b-geo {
    display: none;
  }
}

input#search-city{
  border-bottom: 1px solid #1565c0 !important; 
}

input#search-city:hover{
  border-bottom: 2px solid #1565c0 !important;
}

input#search-city:active{
  border-bottom: 2px solid #1976d2  !important;
}
