<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 card">
  <div class="row bodyCard">
    <div class="col-12">
      <h3 class="nameProduct text-center">${input.name}</h3>
      <img src="" alt="">
    </div>
  </div>

</div>
