<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 card">
  <div class="row bodyCard">
    <div class="col-12">
      <h3 class="nameProduct text-center">${input.name}</h3>
      <div class="text-center">
      <img class="baner" src=`/static/img/product/100_dney_bez_procentov/${input.baner}_${input.typeDevice}.${input.typeImg}` loading="lazy" alt='${input.baner}'>
      </div>
    </div>
  </div>

</div>
